* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

header {
    height: 200px;
    background-color: grey;
    margin-bottom: 10px;
}

.row {
    height: 500px;
    background-color: black;

}

aside {
    width: 25%;
    height: 100%;
    background-color: lightgray;
    float: left;
}

main {
    width: 50%;
    height: 100%;
    float: left;
    padding: 0 10px;
}

main .content {
    height: 100%;
    background-color: #A9A9A9;
}

footer {
    height: 100px;
    margin-top: 10px;
    background-color: #696969;
}
