* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 60vw;
    height: 800px;
    background-color: white;
    margin:auto;
}

.menu {
    width: 60vw;
    height: 145px;
    background-color: lightgrey;
    border: solid black 1px;
    position: absolute;
}

.sidebar {
    width: 10%;
    height: 250px;
    background-color: lightgrey;
    border: solid black 1px;
    position: absolute;
    top: 25%;

}

.banner {
    width: 50.3%;
    height: 350px;
    background-color: lightgrey;
    border: solid black 1px;
    position: absolute;
    bottom: 80px;
    left: 30%;
    top: 25%;
}

.footer {
    width: 60vw;
    height: 80px;
    background-color: lightgrey;
    border: solid black 1px;
    position: absolute;
    bottom: 10px;
}
